

#taskList {
    border : red 1px solid;
    display : flex;
    
  }
  #taskList > p {
    margin:10px;
  }



#player {
    border: solid 2px blue;
    
}

#cardContainer {
    border: solid 2px blue;
}
.card {
    margin: 10px;
}

